<h1>LazyLoading</h1>
<p>
  Usually you would have a module and a routing module for each component or set
  of components, for example:
</p>
<img src="../../../assets/routing-layout-example.png" alt="" />
<p>This would then contain the routing rules as below:</p>
<img src="../../../assets/normal-routing-example.png" alt="" />
<p>
  In order to set up lazy loading you would have to remove any import statements
  for the modules from anywhere else in the project
</p>
<p>For example the below would need to be removed</p>
<img src="../../../assets/remove-app.module-reference.png" alt="" />
<p>
  You would then need to add the 'lazyloading' Route into the main
  AppRoutingModule instead of its own lazyloading-routing.module.ts as below:
</p>
<img src="../../../assets/add-lazyloading-to-app-routing.module.png" alt="" />
<p>This then renders the lazyloading-routing.module.ts redundant.</p>
<p>
  I think this is a good solution because it keeps all of the routing in one
  place thus making it easier to manage.
</p>
<h1>Bad Solution</h1>
<p>
  The above is a bad solution as it would make it harder to expand on in the
  future and is essentially making the project non-modular, which is what
  Angular is designed to achieve
</p>
<p>
  The correct implementation would be to remove the path from the router
  component as below:
</p>
<img src="../../../assets/lazyload-remove-path.png" alt="" />
<p>
  And then setting up the actual lazy-loading within the app-routing.module.js
  as below:
</p>
<img src="../../../assets/lazyloading-example.png" alt="" />
<p>
  This is giving it a path to look for 'lazyloading' and then binding it to the
  loadChildren function, which is then importing the file dynamically it will
  '.then' return the LazyloadingModule as above.
</p>
<p>
  You have to remove the path from the individual routing modules as this is
  essentiually asking it to load the path twice, which would look like:
  <b>localhost:4200/lazyloading/lazyloading</b>
</p>
<p>
  This will cause it to just load the current component when rendering and then
  just add each component on as they are navigated to (compiled as javascript)
  as seen below:
</p>
<img src="../../../assets/networking-example.png" alt="" />
<p>
  The image on the right is loading the home page, then the second image is
  navigating to the elements
</p>
