<div class="ui container">
  <div class="ui secondary pointing menu">
    <a routerLink="" routerLinkActive="active" class="item">
      <button>Home</button>
    </a>
    <a routerLink="/elements" routerLinkActive="active" class="item">
      <button>Elements</button>
    </a>
    <a routerLink="/collections" routerLinkActive="active" class="item">
      <button>Collections</button>
    </a>
    <a routerLink="/views" routerLinkActive="active" class="item">
      <button>Views</button>
    </a>
    <a routerLink="/modules" routerLinkActive="active" class="item">
      <button>Modules</button>
    </a>
    <a routerLink="/lazyloading" routerLinkActive="active" class="item">
      <button>Lazy Loading</button>
    </a>
  </div>
  <div class="ui segment">
    <router-outlet></router-outlet>
  </div>
</div>
